<a href="https://colab.research.google.com/github/Gleis0nLemos/Collections_1/blob/main/Intro_a_collections.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
idade1 = 39
idade2 = 30
idade3 = 27
idade4 = 18

print(idade1)
print(idade2)
print(idade3)
print(idade4)

39
30
27
18

In [ ]:
idades = [39, 30, 27, 18]

In [ ]:
type(idades)

list

In [ ]:
len(idades)

4

In [ ]:
idades[0]

39

In [ ]:
idades

[39, 30, 27, 18]

In [ ]:
print(idades[1])
print(idades[2])
print(idades[3])

30
27
18

In [ ]:
idades.append(15)

In [ ]:
idades

[39, 30, 27, 18]

In [ ]:
idades[4]

IndexError: ignored

In [ ]:
idades[5]

IndexError: ignored

In [ ]:
for idade in idades:
  print(idade)

39
30
27
18

In [ ]:
idades.remove(30)

In [ ]:
idades

[39, 27, 18]

In [ ]:
idades.remove(30)

ValueError: ignored

In [ ]:
idades.append(15)

In [ ]:
idades

[39, 27, 18, 15]

In [ ]:
idades.remove(15)

In [ ]:
idades

[39, 27, 18, 15]

In [ ]:
idades.append(27)

In [ ]:
idades.remove(27)

In [ ]:
idades

[39, 18, 15, 27]

In [ ]:
idades.clear()

In [ ]:
idades

[]

In [ ]:
idades = [39, 18, 15, 27]

In [ ]:
28 in idades

False

In [ ]:
15 in idades

True

In [ ]:
if 15 in idades:
  idades.remove(15)

In [ ]:
idades

[39, 18, 27]

In [ ]:
if 28 in idades:
  idades.remove(28)

In [ ]:
idades

[39, 18, 27]

In [ ]:
idades.append(19)
idades

[39, 18, 27, 19]

In [ ]:
idades.insert(0, 20)
idades

[20, 39, 18, 27, 19]

In [ ]:
idades = [20, 39, 18]
idades

[20, 39, 18]

In [ ]:
idades.append([27 , 19])

In [ ]:
idades

[20, 39, 18, [27, 19]]

In [ ]:
for elemento in idades:
  print("Recebi um elemento", elemento)

Recebi um elemento 20
Recebi um elemento 39
Recebi um elemento 18
Recebi um elemento [27, 19]

In [ ]:
idades = [20, 39, 18]
idades.extend([27, 19])
idades

[20, 39, 18, 27, 19]

In [ ]:
for idade in idades:
  print(idade + 1)

21
40
19
28
20

In [ ]:
idades_no_ano_que_vem = []
for idade in idades:
  idades_no_ano_que_vem.append(idade + 1)
idades_no_ano_que_vem

[21, 40, 19, 28, 20]

In [ ]:
idades_no_ano_que_vem = [(idade+1) for idade in idades]
idades_no_ano_que_vem

[21, 40, 19, 28, 20]

In [ ]:
[(idade) for idade in idades if idade > 21]

[39, 27]

In [ ]:
idades

[20, 39, 18, 27, 19]

In [ ]:
def proximo_ano(idade):
  return idade+1

[proximo_ano(idade) for idade in idades if idade > 21]

[40, 28]

In [ ]:
#list comprehension

#**Objetos Próprios**

In [ ]:
class ContaCorrente:
  def __init__(self, codigo):
    self.codigo = codigo
    self.saldo = 0
  
  def deposita(self, valor):
    self.saldo += valor

  def __str__(self):
    return "[>>Código  {} saldo de {}<<]".format(self.codigo, self.saldo)

In [ ]:
conta_do_gui = ContaCorrente(15)
print(conta_do_gui)

[>>Código  15 saldo de 0<<]

In [ ]:
conta_do_gui.deposita(500)
print(conta_do_gui)

[>>Código  15 saldo de 500<<]

In [ ]:
conta_da_dani = ContaCorrente(47685)
conta_da_dani.deposita(1000)
print(conta_da_dani)

[>>Código  47685 saldo de 1000<<]

In [ ]:
contas = [conta_do_gui, conta_da_dani]
for conta in contas:
  print(conta)

[>>Código  15 saldo de 500<<]
[>>Código  47685 saldo de 1000<<]

In [ ]:
contas = [conta_do_gui, conta_da_dani, conta_do_gui]

In [ ]:
print(contas[0])

[>>Código  15 saldo de 500<<]

In [ ]:
conta_do_gui.deposita(100)

In [ ]:
print(contas[0])

[>>Código  15 saldo de 600<<]

In [ ]:
print(conta_do_gui)

[>>Código  15 saldo de 600<<]

In [ ]:
print(contas[2])

[>>Código  15 saldo de 600<<]

In [ ]:
contas[2].deposita(300)

In [ ]:
print(conta_do_gui)

[>>Código  15 saldo de 900<<]

In [ ]:
def deposita_para_todas(contas):
  for conta in contas:
    conta.deposita(100) 

contas = [conta_do_gui, conta_da_dani]   
print(contas[0], contas[1])
deposita_para_todas(contas)
print(contas[0], contas[1])

[>>Código  15 saldo de 900<<] [>>Código  47685 saldo de 1000<<]
[>>Código  15 saldo de 1000<<] [>>Código  47685 saldo de 1100<<]

In [ ]:
contas.insert(0, 76)
print(contas[0], contas[1], contas[2])

76 [>>Código  15 saldo de 1000<<] [>>Código  47685 saldo de 1100<<]

In [ ]:
deposita_para_todas(contas)
print(contas[0], contas[1], contas[2])

AttributeError: ignored

In [ ]:
guilherme = ('Guilherme', 37, 1981) # tupla
daniela = ('Daniela', 31, 1987)
# paulo = (39, 'Paulo', 1979) # ruim

In [ ]:
guilherme.append(6754)

AttributeError: ignored

In [ ]:
conta_do_gui = (15, 1000)
# conta_do_gui.deposita() # variação OO

#def deposita(conta): # variação funcional
conta_do_gui[1]

1000

In [ ]:
conta_do_gui[1] += 100

TypeError: ignored

In [ ]:
def deposita(conta): # variação "funcional"(Separando o comportamento dos dados)    
  novo_saldo = conta[1] + 100
  codigo = conta[0]
  return (codigo, novo_saldo)

In [ ]:
deposita(conta_do_gui)

(15, 1100)

In [ ]:
conta_do_gui

(15, 1000)

In [ ]:
conta_do_gui = deposita(conta_do_gui)
conta_do_gui

(15, 1100)

In [ ]:
#posição precisa ser seguida, provavel ser uma tupla, se não, ai é puxado para uma lista. comsequentemente vindo ao método OO

In [ ]:
usuarios = [guilherme, daniela]
usuarios

[('Guilherme', 37, 1981), ('Daniela', 31, 1987)]

In [ ]:
usuarios.append(('Paulo', 39, 1979))

In [ ]:
usuarios

[('Guilherme', 37, 1981), ('Daniela', 31, 1987), ('Paulo', 39, 1979)]

In [ ]:
usuarios[0][0] = 'Guilherme Silveira'

TypeError: ignored

In [ ]:
conta_do_gui = ContaCorrente(15)
conta_do_gui.deposita(500)
conta_da_dani = ContaCorrente(78)
conta_da_dani.deposita(1000)

contas = (conta_do_gui, conta_da_dani)

In [ ]:
for conta in contas:
  print(conta)

[>>Código  15 saldo de 500<<]
[>>Código  78 saldo de 1000<<]

In [ ]:
contas.append(234)

AttributeError: ignored

In [ ]:
contas[0].deposita(300)

In [ ]:
for conta in contas:
  print(conta)

[>>Código  15 saldo de 800<<]
[>>Código  78 saldo de 1000<<]

#**Herança e Polimorfismo**

In [8]:
from abc import ABCMeta, abstractmethod
class Conta(metaclass=ABCMeta):
  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0
  
  def deposita(self, valor):
    self._saldo += valor

  @abstractmethod
  def passa_o_mes(self):
    pass

  def __str__(self):
    return "[>>Código {} saldo de {}<<]".format(self._codigo, self._saldo)

In [ ]:
print(Conta(88))

TypeError: ignored

In [9]:
class ContaCorrente(Conta):

  def passa_o_mes(self):
    self._saldo -= 2

class ContaPoupança(Conta):

  def passa_o_mes(self):
    self._saldo *= 1.01
    self._saldo -= 3

class ContaInvestimento(Conta):
  pass

In [ ]:
ContaInvestimento(78)

TypeError: ignored

In [ ]:
conta16 = ContaCorrente(16)
conta16.deposita(1000)
conta16.passa_o_mes()
print(conta16)

[>>Código 16 saldo de 998<<]

In [ ]:
conta17 = ContaPoupança(17)
conta17.deposita(1000)
conta17.passa_o_mes()
print(conta17)

[>>Código 17 saldo de 1007.0<<]

In [ ]:
conta16 = ContaCorrente(16)
conta16.deposita(1000)
conta17 = ContaPoupança(17)
conta17.deposita(1000)
contas = [conta16, conta17]

for conta in contas:
  conta.passa_o_mes() # Duck typing
  print(conta)

[>>Código 16 saldo de 998<<]
[>>Código 17 saldo de 1007.0<<]

#**Array, evitaremos usar**

In [ ]:
import array as arr

arr.array('d', [1, 3.5])

array('d', [1.0, 3.5])

In [ ]:
arr.array('d', [1, 3.5, 'Guilherme'])

TypeError: ignored

In [ ]:
!pip install numpy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (1.21.6)

In [ ]:
import numpy as np

numeros = np.array([1, 3.5])
numeros

array([1. , 3.5])

In [ ]:
numeros + 3

array([4. , 6.5])

#*Evitaremos usar array puro. Caso precisemos de trabalhos numéricos, acostumar-se a usar o Numpy*

#**Igualdade**

In [10]:
class ContaSalario:

  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0
  
  def __eq__(self, outro):
     return self._codigo == outro._codigo

  def deposita(self, valor):
    self._saldo += valor

  def __str__(self):
      return "[>>Código {} saldo de {}<<]".format(self._codigo, self._saldo)

In [ ]:
conta1 = ContaSalario(37)
print(conta1)

[>>Código 37 saldo de 0<<]

In [ ]:
conta2 = ContaSalario(37)
print(conta2)

[>>Código 37 saldo de 0<<]

In [ ]:
conta1 == conta2

True

In [ ]:
contas = [conta1]
conta1 in contas

True

In [ ]:
conta2 in contas

True

In [ ]:
conta1 in [conta2]

True

In [ ]:
conta2 in [conta1]

True

In [11]:
class ContaSalario:

  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0
  
  def __eq__(self, outro):
    if type(outro) != ContaSalario:
      return False

    return self._codigo == outro._codigo and self._saldo == outro._saldo

  def deposita(self, valor):
    self._saldo += valor

  def __str__(self):
      return "[>>Código {} saldo de {}<<]".format(self._codigo, self._saldo)

In [ ]:
conta1 = ContaSalario(37)
conta2 = ContaSalario(37)
conta1 == conta2

True

In [ ]:
conta1.deposita(10)
conta1 == conta2

False

In [ ]:
conta1 = ContaSalario(37)
conta2 = ContaCorrente(37)
conta1 == conta2

False

In [5]:
class ContaSalario:

  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0
  
  def __eq__(self, outro):
    if type(outro) != ContaSalario:
      return False

    return self._codigo == outro._codigo and self._saldo == outro._saldo

  def deposita(self, valor):
    self._saldo += valor

  def __str__(self):
      return "[>>Código {} saldo de {}<<]".format(self._codigo, self._saldo)

class ContaMultiploSalario(ContaSalario):
  pass

In [12]:
isinstance(ContaCorrente(37), ContaCorrente)

True

In [13]:
isinstance(ContaCorrente(37), Conta)

True

#**Builtins como enumerated, range e desempacotamento automatico de tuplas**

In [21]:
idades = [15, 87, 32, 65, 56, 32, 49, 37]

for i in range(len(idades)):
  print(i, idades[i])

0 15
1 87
2 32
3 65
4 56
5 32
6 49
7 37

In [22]:
range(len(idades)) #lazy 'olhar significado'(analise preguiçosa) Não lista todos os elementos

range(0, 8)

In [31]:
enumerate(idades) #lazy tb

In [34]:
list(range(len(idades))) #forçando a geração dos valores

[0, 1, 2, 3, 4, 5, 6, 7]

In [36]:
list(enumerate(idades)) #forma tuplas, pois há significado nas posições

[(0, 15), (1, 87), (2, 32), (3, 65), (4, 56), (5, 32), (6, 49), (7, 37)]

In [40]:
for indice, idade in enumerate(idades): #desempacotando #unpacking da tupla
  print(indice, 'x',  idade)

0 x 15
1 x 87
2 x 32
3 x 65
4 x 56
5 x 32
6 x 49
7 x 37

In [45]:
usuarios = [
    ("Guilherme", 37, 1981),
    ("Daniela", 31, 1987),
    ("Paulo", 39, 1979)
]

for nome, _, _ in usuarios: #ja desempacotando, o '_' ignora a posição que ele ocupa
  print(nome)

Guilherme
Daniela
Paulo

#**Ordenação Básica**

In [46]:
idades

[15, 87, 32, 65, 56, 32, 49, 37]

In [47]:
sorted(idades)

[15, 32, 32, 37, 49, 56, 65, 87]

In [50]:
15 < 32

True

In [51]:
list(reversed(idades))

[37, 49, 32, 56, 65, 32, 87, 15]

In [52]:
sorted(idades, reverse=True)

[87, 65, 56, 49, 37, 32, 32, 15]

In [53]:
list(reversed(sorted(idades)))

[87, 65, 56, 49, 37, 32, 32, 15]

In [54]:
idades.sort() #ordena no próprio lugar, alterando a lista original

In [55]:
idades

[15, 32, 32, 37, 49, 56, 65, 87]

#**Ordenação Customizada**

In [58]:
nomes = ["guilherme", "Daniela", "Paulo"]
sorted(nomes)

['Daniela', 'Paulo', 'guilherme']

In [60]:
class ContaSalario:

  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0
  
  def __eq__(self, outro):
    if type(outro) != ContaSalario:
      return False

    return self._codigo == outro._codigo and self._saldo == outro._saldo

  def deposita(self, valor):
    self._saldo += valor

  def __str__(self):
      return "[>>Código {} saldo de {}<<]".format(self._codigo, self._saldo)

class ContaMultiploSalario(ContaSalario):
  pass

In [62]:
conta_do_guilherme = ContaSalario(17)
conta_do_guilherme.deposita(500)

conta_da_daniela = ContaSalario(3)
conta_da_daniela.deposita(1000)

conta_do_paulo = ContaSalario(133)
conta_do_paulo.deposita(510)

contas = [conta_do_guilherme, conta_da_daniela, conta_do_paulo]

In [63]:
for conta in contas:
  print(conta)

[>>Código 17 saldo de 500<<]
[>>Código 3 saldo de 1000<<]
[>>Código 133 saldo de 510<<]

In [64]:
sorted(contas)

TypeError: ignored

In [65]:
conta_do_guilherme < conta_da_daniela

TypeError: ignored

In [67]:
def extrai_saldo(conta):
  return conta._saldo #feio de se usar pois pega diretamente um atributo privado

for conta in sorted(contas, key=extrai_saldo):
  print(conta)

[>>Código 17 saldo de 500<<]
[>>Código 133 saldo de 510<<]
[>>Código 3 saldo de 1000<<]

In [68]:
from operator import attrgetter

for conta in sorted(contas, key=attrgetter("_saldo")):
  print(conta)

#não resolve o problema pois continua acessando um método privado, que está encapsulado

[>>Código 17 saldo de 500<<]
[>>Código 133 saldo de 510<<]
[>>Código 3 saldo de 1000<<]

In [88]:
class ContaSalario:

  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0
  
  def __eq__(self, outro):
    if type(outro) != ContaSalario:
      return False

    return self._codigo == outro._codigo and self._saldo == outro._saldo
    
  def __lt__(self, outro):
    return self._saldo < outro._saldo

  def deposita(self, valor):
    self._saldo += valor

  def __str__(self):
      return "[>>Código {} saldo de {}<<]".format(self._codigo, self._saldo)

class ContaMultiploSalario(ContaSalario):
  pass

In [89]:
conta_do_guilherme = ContaSalario(17)
conta_do_guilherme.deposita(500)

conta_da_daniela = ContaSalario(3)
conta_da_daniela.deposita(1000)

conta_do_paulo = ContaSalario(133)
conta_do_paulo.deposita(510)

contas = [conta_do_guilherme, conta_da_daniela, conta_do_paulo]

In [90]:
conta_do_guilherme < conta_da_daniela

True

In [91]:
conta_do_guilherme > conta_da_daniela

False

In [92]:
for conta in sorted(contas):
  print(conta)

[>>Código 17 saldo de 500<<]
[>>Código 133 saldo de 510<<]
[>>Código 3 saldo de 1000<<]

In [97]:
for conta in sorted(contas, reverse=True):
  print(conta)

[>>Código 3 saldo de 1000<<]
[>>Código 133 saldo de 510<<]
[>>Código 17 saldo de 500<<]